
.name 
{
	text-align:center;

	padding-top:20px;
	font-weight:bold;
	font-size:18px;
}
.name1
{   font-weight:bold;
	font-size:14px;
	text-align:center;
}
  .sidemenu ul li
 {
	 list-style-type:none;
	 display:block;
	  }
 
 {
	 font-size:18px;
	 padding-right:15px;
 }
 .sidemenu li
 {
	 padding-top:20px;
 }
 .label-keyword
 {
 display: inline-block;
background: #7eb0db;
color: white;
font-size: 0.9em;
padding: 5px;
border: 1px solid #357ebd;
margin-right: 5px;
 }
.headers 
{
	 font-size:14px;
	 font-weight:bold;
	 color:#000;
	 margin-right:20px;
}
.headers  span
{
	 
	 margin-right:10px;
}

.well
{
	background:#FFF;
}

.left{
	width:30%;
	border-radius: 10px;
	background-color: skyblue;
}
.right {
	width: 68%;

}
.row{
	display: flex;
}
body{
	background: #F1C2B7;
}
div{
	padding: 5px;

}
@media screen and (min-width: 480px)
 {
    .mainDiv {
        background-color: lightgreen;

    }
}

 /*index*/

  .h1,.mainDiv,.childDiv,.img{
  border-radius: 25px;
}
.h1{
  text-align: center;
  background-color: Lightgray;
  font-size: 40px;
}
.mainDiv {
   box-shadow: 0 4px 8px 0 #00008B;
    transition: 0.3s;
   padding: 40px;
   border:1px solid yellow;
   background-color: #6495ED;
   display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.childDiv{
  box-shadow: 0 4px 8px 	lightyellow;
  border: 1px solid #FFD700;

}
.childDiv:hover {
    box-shadow: 0 8px 16px 	lightyellow;
}

.container {
    padding: 2px 6px;
}

@media screen and (min-width: 760px)
 {
    .right {
        background-color: lightgreen;

    }
}
img{
  border-radius: 25px;
  height: auto;
  width: 100%;
}
body{
  background-color: 	#DEB887;
}
.button input{
  border-radius: 100px;
  float: right;
}

/*Require Data*/
.Data{
 display: flex;
flex-wrap: wrap;
}

.Data input{
  height: 40px;
  width: 100%;
  border-radius: 25px;
  border: 5px;
}
.Data button{
  horizontal-align: center;
justify-content: center;
border-radius: 10px;
}
